.form-wrapper {
  padding: 0 20px;
  width: 100%;
  max-width: 416px;
  margin: auto;
}

.form-wrapper > h2 {
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 29px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.form {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  /* width: 500px; */
}

.text-label {
  /* display: block; */
  margin: 14px 0 4px;
  color: #0d0c22;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  text-align: start;
}

.text-input {
  font-weight: 400;
  line-height: 28px;
  height: 40px;
  padding: 10px 16px;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
  border: none;
  /* display: block; */
  background-color: rgb(232, 240, 254);
}

.submit-btn {
  max-width: 200px;
  background-color: #f44fb3;
  color: white;
  margin-top: 22px;
  border: none;
  border-radius: 8px;
  height: 40px;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
}

.form-link {
  display: block;
  margin-top: 15px;
  text-align: start;
}

.form-link > a {
  text-decoration: none;
  color: #aa58b4;
}

@media (max-width: 520px) {
  .form-wrapper {
    max-width: 80%;
  }
}
