.page {
  width: 100%;
  height: 100vh;
  /* background-color: aqua; */
}

.parent {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.artwork {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  height: 100%;
}

.artwork-img {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/9ddf34111202295.5ffda81c94c1e.png);
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
}

.artwork-attrs {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #f0fbf7;
  font-size: 30px;
}

.artwork-attrs > a {
  color: #f0fbf7;
}

.forms {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media (min-width: 1100px) {
  .artwork {
    width: 414px;
  }
}

@media (max-width: 920px) {
  .artwork {
    display: none;
  }
}

.go-back {
  /* background-color: rgb(232, 240, 254); */
  background-color: transparent;
  border: 2px solid rgb(232, 240, 254);
  border-radius: 8px;
  height: 40px;
  /* font-weight: bold; */
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
  /* max-width: 200px; */
  margin: 15px 15px 0 0;
  align-self: flex-end;
}

.go-back > span {
  /* text-decoration: underline; */
}
