body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  width: 100%;
  height: 100vh;
  background-image: url(https://preview.redd.it/ytkkbowirm061.jpg?auto=webp&s=54854889016110dab84b255137113144de1429c2);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);

  width: 40%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: white;
}

.main > h1 {
  text-shadow: 0px 0px 6px #14a4fb;
}

.main-on {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-on-avatar {
  width: 220px;
  height: 220px;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/2/23/Lofi_girl_logo.jpg/220px-Lofi_girl_logo.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.main-on-lofi {
  margin: 15px;
  font-size: 18px;
  font-weight: bold;
}

.main-on-lofi > a {
  text-decoration: none;
  color: #fdfebc;

  text-shadow: 0px 0px 6px #fdfebc;
}

.logout-btn {
  background-color: #fefea1;
  border: 3px solid #fdfebc;
  border-radius: 8px;
  height: 40px;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
  margin-top: 10px;
  color: #3c3c21;

  -webkit-box-shadow: 0px 0px 5px 2px #fdfebc;
  box-shadow: 0px 0px 5px 2px #fdfebc;
}

.main-off > a {
  text-decoration: none;
  color: #fdfebc;
  text-align: center;
  text-shadow: 0px 0px 6px #fdfebc;
  font-size: 20px;
}

.singin {
  /* color: #17608e;
  text-shadow: 0px 0px 6px #14a4fb; */

  color: #db3f9a;
  text-shadow: 0px 0px 6px #db9fc2;
}

@media (max-width: 940px) {
  .main {
    width: 50%;
  }
}
@media (max-width: 700px) {
  .main {
    width: 80%;
  }
}
